body
    margin 0
    padding 0

/* Cookie block starts here */
.cookie-block
    background #ebf3aa
    font-size 11px
    font-family arial,sans serif
    border 1px solid #ccc
    padding 0 5px
    width 100%
    text-align center
    display table

    @font-face
        font-family "cookiefont"
        src:url("fonts/cookiefont.eot")
        src:url("fonts/cookiefont.eot?#iefix") format("embedded-opentype"),
        url("fonts/cookiefont.woff") format("woff"),
        url("fonts/cookiefont.ttf") format("truetype"),
        url("fonts/cookiefont.svg#cookiefont") format("svg")
        font-weight: normal
        font-style: normal

    [data-icon]:before
        font-family "cookiefont" !important
        content attr(data-icon)
        font-style normal !important
        font-weight normal !important
        font-variant normal !important
        text-transform none !important
        speak none
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale

    [class^="icon-"]:before
    [class*=" icon-"]:before
        font-family "cookiefont" !important
        font-style normal !important
        font-weight normal !important
        font-variant normal !important
        text-transform none !important
        speak none
        line-height 1
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing: grayscale

    .icon-info:before
        content "i"

    // Custom color
    [data-icon="i"]
        color black
        font-size 1.5rem
        vertical-align middle
        line-height 2rem
        padding 0 15px
        display inline-block
        margin 6px 5px 0

    > div
        display table-cell
        width 50%
    .message
        width 95%
    .btn
        line-height 30px
        font-weight normal
        font-size xx-small
        background #ccc
        color #fff
        height 100%
        display table-cell
        vertical-align middle
        min-width 50px


        a
            display block
            font-size 15px
            color black
            font-weight bold
            text-align center
    a
        color grey
        font-weight normal
        text-decoration none
    a:hover
        color orange

.visible
  visibility visible
  opacity 1
  transition opacity 2s linear

.hidden
  visibility hidden
  opacity 0
  transition visibility 0s 1s, opacity 1s linear
